<template>
  <div class="hello">
    <button @click="auth">Google</button>
    <p>
      <pre>{{result}}</pre>
    </p>
  </div>
</template>

<script>
import firebase from "firebase/app";
import "firebase/auth";

export default {
  data: () => {
    return {
      result: {}
    };
  },
  methods: {
    auth() {
      const provider = new firebase.auth.GoogleAuthProvider();
      provider.addScope("https://www.googleapis.com/auth/contacts.readonly");
      firebase.auth().signInWithRedirect(provider);
    }
  },
  async created() {
    const result = await firebase
      .auth()
      .getRedirectResult()
      .catch(function(error) {
        console.error(error);
      });
    if (result) {
      console.log(result);
      this.result = result;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
p {
  text-align: left;
}
</style>
